body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#loginContainer {
    width: 300px;
    margin: 120px auto;
    padding: 20px;
    background: white;
    text-align: center;
    box-shadow: 0 0 10px #aaa;
    border-radius: 12px;
}

#loginContainer input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

section {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 12px;
}

section img {
    width: 20%;
    border-radius: 10px;
}

footer {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

#version {
    font-size: 12px;
    color: black;
    padding: 5px;
}
